button {
    text-align: left;
}

button img {
    filter: invert(100%);
    opacity: 0.6;
}

button:hover img {
    opacity: 0.9;
}

button:active img {
    opacity: 1;
}

.left-col {
    min-width: 28ch;
}

router-outlet {
    margin-top: 16px;
}

.outlet-container {
    margin: 0;
    float: left;
    width: calc(75vw - 48px);
}