button {
    text-align: left;
}

button img {
    filter: invert(100%);
    opacity: 0.6;
}

button:hover img {
    opacity: 0.9;
}

button:active img {
    opacity: 1;
}

.left-col {
    min-width: 28ch;
}

main {
    margin-top: 16px;
}