<section>
    <button class="character" (click)="newChar()">
        <img src="assets/icons/plus-circle.svg" alt="" class='plus-icon'>
        Crear Personaje
    </button>
    <button class="character" (click)="newChar()">
        <img src="assets/icons/plus-circle.svg" alt="" class='plus-icon'>
        Crear Personaje
    </button>
    <button class="character" (click)="newChar()">
        <img src="assets/icons/plus-circle.svg" alt="" class='plus-icon'>
        Crear Personaje
    </button>
    <button class="character" (click)="newChar()">
        <img src="assets/icons/plus-circle.svg" alt="" class='plus-icon'>
        Crear Personaje
    </button>
    <button class="character" (click)="newChar()">
        <img src="assets/icons/plus-circle.svg" alt="" class='plus-icon'>
        Crear Personaje
    </button>
    <button class="character" (click)="newChar()">
        <img src="assets/icons/plus-circle.svg" alt="" class='plus-icon'>
        Crear Personaje
    </button>
    <button class="character" (click)="newChar()">
        <img src="assets/icons/plus-circle.svg" alt="" class='plus-icon'>
        Crear Personaje
    </button>
    <button class="character" (click)="newChar()">
        <img src="assets/icons/plus-circle.svg" alt="" class='plus-icon'>
        Crear Personaje
    </button>
    <button class="character" (click)="newChar()">
        <img src="assets/icons/plus-circle.svg" alt="" class='plus-icon'>
        Crear Personaje
    </button>
</section>

<!-- <div class="vl"></div> -->

<div class="outlet-container">
    <router-outlet></router-outlet>
</div>