button {
    text-align: left;
    display: inline-block;
    margin-top: 32px;
}

button * {
    display: block;
    margin: 0 auto 8px;
}

.character {
    width: 160px;
    display: inline-block;
    text-align: center;
    margin: 0;
}

section, .vl, .outlet-container {
    height: calc(100vh - 43px);
    display: inline-block;
    margin-bottom: 0;
}

section {
    float: left;
    width: 60%;
    /* border: 1px solid red; */
}

.vl {
    border-left: 2px solid var(--darker);
    margin: 0 32px; 
}

.outlet-container {
    width: 40%;
    /* border: 1px solid red; */
    border-left: 3px solid var(--darker);
    padding-left: 16px;
}