img {
    float: left;
    width: 30%;
    margin: 16px;
    border-radius: 12px;
}

main {
    float: left;
    margin: 8px;
    width: calc(70vw - 64px);
}

.btnBox {
    width: 50%;
    float: right;
    display: inline;
    text-align: right;
}

button {
    width: 45%;
    display: inline;
    margin-left: 2.5%
}