@font-face {
    font-family: "Ruda";
    src: url("../assets/fonts/Ruda.ttf");
}

* {
    font-family: "Ruda", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}