
<button class="event" (click)="newEvent()">
    <img src="assets/icons/plus-circle.svg" alt="" class='plus-icon'>
    Crear Evento
</button>

<section class="time-line">
    <button class="event" *ngFor="let event of events">
        <img src="assets/icons/calendar.svg" alt="">
        <div>
            <h2>{{ event.name }}</h2>
            <sub>{{ event.begin}} - {{ event.finish }}</sub>
            <p>{{ event.resume }}</p>
        </div>
    </button>

</section>

<div class="outlet-container">
    <router-outlet></router-outlet>
</div>
