<form (ngSubmit)="acceptBtn()" #f="ngForm">
    <main>
        <label for="nameField">Nombre</label>
        <input type="text" name="nameField" id="nameField" [(ngModel)]="charName" #nameField>

        <label for="birthField">Nacimiento</label>
        <input type="text" name="birthField" id="birthField"  [(ngModel)]="charBirth">

        <label for="originField">Procedencia</label>
        <input type="text" name="originField" id="originField"  [(ngModel)]="charOrigin">
        
        <label for="resField">Resumen</label>
        <textarea rows=6 name="resField" id="resField" #resField  [(ngModel)]="charRes"></textarea>
    
        <div class="btnBox">
            <button type="submit" class="formBtn">Aceptar</button>
            <button class="formBtn" (click)="cancelBtn()">Cancelar</button>
        </div>
    </main>    
</form>