<form (ngSubmit)="acceptBtn()" #f="ngForm">
    <main>
        <label for="nameField">Nombre</label>
        <input type="text" name="nameField" id="nameField">
        
        <label for="beginField">Inicio</label>
        <input type="text" name="beginField" id="beginField">

        <label for="finishnField">Término</label>
        <input type="text" name="finishnField" id="finishField">
        
        <label for="resField">Resumen</label>
        <textarea rows=4 name="resField" id="resField"></textarea>
    
        <div class="btnBox">
            <button type="submit" class="formBtn">Aceptar</button>
            <button class="formBtn" (click)="cancelBtn()">Cancelar</button>
        </div>
    </main>    
</form>